.container p{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.contactForm{
    background-color: #e4dede;
    color: rgb(78, 77, 77);
    border-radius: 7px;
    
    text-align: center;

    margin: 5vh 20vw;  
    padding: 25px;
    
    display:flex;
    justify-content: space-around;

}

.contactForm FormInput {
    margin: 200px;
}

.submitBtn {
    color: black;
    background-color: #b2b0b0;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 3px;
    border: none;

    transition: transform 0.2s ease;
}

.submitBtn:hover {
    transform: scale(1.1);
}

.submitBtn:active {
    transform: scale(1);
}

.textareaField {
    background-color: #989595;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    color: black;
    padding: 5px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.textareaField:focus {
    background-color: #d4d2d2;
}

.textareaField:hover {
    transform: scale(1.01);
}

.textarea {
    padding: 5px;
}

.form {
    text-align: left;
}

